@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Roboto&display=swap');

/* utilities */
body {
    font-family: 'Poppins', sans-serif;
    color: #3a3a3a;
    width: 100%;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    padding: 0;
    width: 1200px;
}

a {
    text-decoration: none;
    color: #3a3a3a;
}

ul,
li {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

button {
    background-color: #E02C6D;
    color: white;
    padding: 12px 20px;
    border-radius: 50px;
    border: none;
}

h1 {
    font-size: 52px;
    margin: 0;
}

/* header */
header {
    display: grid;
    grid-template-areas:
        "site-title text-menu i-menu";
    align-items: center;
    height: 120px;
}

header>.site-title {
    grid-area: site-title;
    width: 700px;
}

header>.text-menu {
    grid-area: text-menu;
    width: 380px;
}

header>.i-menu {
    grid-area: i-menu;
    width: 120px;
    color: #000000;
}

header nav ul {
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    align-items: center;
}

.menu-bar {
    display: none;
}



/* hero section  */
.hero-section h1 {
    margin-bottom: -15px;
}

.hero-section {
    display: flex;
    align-items: center;
    padding: 40px 0;
}

.hero-section .split1 {
    width: 50%;
}

.hero-section .split2 {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.hero-section .split2 img {
    border: 1px solid #F1E4FF;
    border-radius: 50%;
    padding: 10px;
    background-color: #F1E4FF;
}


/* sponsor  */


.sponsor {
    display: flex;
    justify-content: center;
    padding: 60px 0;
}

.sponsors {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    width: 1110px;


}

/* popular */
.popular-flex{
    display: flex;
    justify-content: center;
}
.popular{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 1110px;
    padding: 40px 0;
}
.product-grid {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 5px;
    border: 1px solid #c4c4c498;
    border-radius: 10px;
}
.product-grid:hover{
    box-shadow: 1px -2px 34px -10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 1px -2px 34px -10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px -2px 34px -10px rgba(0, 0, 0, 0.3);
    transition: .5s ease;
    
}

.product-grid .product-title{
    font-size: 28px;
    margin: 0;
}
.product-grid .product-price{
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    color: #3a3a3a;
    font-family: 'Inter';
}
.product-grid >p{
    margin: 0;
    font-weight: 600;
    color: #555555;
    font-family: 'Inter';
}
.product-rating {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 30px;

}

#filled{
    color: #FB8200 !important;
}
#empty{
    color: #E5E5E5 !important;
}

.popular-flex button{
    color: #E02C6D;
    background-color: #00000000;
    padding: 0;
}
/* featured */
.featured {
    display: flex;
    height: 400px;
    align-items: center;
    padding-bottom: 40px;
}

.featured .split1 {
    width: 50%;
}

.featured .split2 {
    width: 50%;
}




/* footer  */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #0A0826;
    color: white;
}

.footer-items {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer-items p {
    margin-top: -15px;
    font-size: 14px;
}

.footer-i {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

}

.footer-i i {
    border-radius: 50%;
    background-color: #22213c;
    padding: 5px;

}



/* -----------
responsive
-------------- */


/* mobile */
@media only screen and (max-width:768px) {

    /* utitilities */
    .container {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .padding {
        padding-left: 20px;
        padding-right: 20px;
    }

    /* header */
    header {
        grid-template-areas:
            "text-menu site-title i-menu";
        justify-content: center;
    }

    .search {
        display: none;
    }

    .text-menu li:not(:first-child) {
        display: none;
    }

    .menu-bar {
        display: block;
    }

    .text-menu ul:first-child {
        justify-content: flex-start;
    }

    .i-menu ul:last-child {
        justify-content: flex-end;
    }

    header>.site-title {
        width: 50vw;
        text-align: center;
        font-size: 16px;
    }

    header>.text-menu {
        width: 20vw;
    }

    header>.i-menu {
        width: 20vw;
    }


    /* hero section */

    .hero-section {
        display: flex;
        flex-direction: column-reverse;
    }

    .hero-section .split1 {
        width: 100%;
        text-align: center;
    }

    .hero-section .split2 {
        width: 100%;
        justify-content: center;
    }

    .hero-section .split2 img {
        width: 90%;
        text-align: center;
    }

    /* sponsor */
    .sponsor {
        width: 100%;
    }

    .sponsors {
        flex-wrap: wrap;
        justify-content: center;

    }

    /* popular  */

    .popular{
        grid-template-columns: repeat(1, 1fr);
    }

    
    /* featured */
    .featured {

        height: auto;
        text-align: center;
        align-items: center;
        flex-direction: column-reverse;
        gap: 20px;
    }

    .featured .split1 {
        width: 100%;
    }

    .featured .split2 {
        width: 100%;
    }

    .featured img {
        width: 100%;
    }

    /* footer  */
    footer {
        width: 100%;
    }
}